.img{
    width: 100%;
}
#navbar ul li a{
    font-size: 10px;
    padding: 8px;
}
.text{
    font-size: 10px;
    /* height: auto; */
    width: 100%;
}

.img-l{
    width: 15px;
    height: 15px;
}
#footer p{
    font-size: 10px;
}