#navbar ul li a{
    font-size: 10px;
    padding: 8px;
}
.text{
    font-size: 10px;
}
.blog img{
height: 130px;
width: 150px;
}

.img-l{
    width: 15px;
    height: 15px;
}
#footer p{
    font-size: 10px;
}