#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    width: 400px;
    margin: 10px 20px;
    padding: 10px 10px;
}
#send{
    color: white;
    background-color: black;
    margin: 5px 5px;
    padding: 5px 10px;
}
#send:hover{
    border: 2px solid black;
    cursor: pointer;
    color: black;
    background-color: white;
}

#contact h1{
    margin: auto;
    padding: 5px 10px;
    width:fit-content;    
    color: white;
    background-color: black;
}