#navbar ul li a{
    font-size: 10px;
    padding: 8px;
}

.img-l{
    width: 15px;
    height: 15px;
}
#footer p{
    font-size: 10px;
}

.input{
    width: 80%;
}
@media only screen and (max-width:390px){
    #contact h1{
        font-size: 13px;
    }
}