#footer{
    margin: 25px 0px;
    padding: 10px 25px;
    color: white;
    background-color: black;
    display: flex;
}
#img-l{
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
}
.img-l{
    cursor: pointer;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    background-color: white;
}
.img-l:hover{
    filter: invert(100%);
}
