.box img{
    height: 150px;
    width: 150px;
}
@media only screen and (max-width:590px)
{
    .text2{
        font-size: 10px;
    }
    
    #text2{
    width: 250px;
    }
    #text3{
    width: 305px;
    }

    #text4{
    width: 250px;
    }
    .box img{
        height: 100px;
        width: 100px;
    }
    #navbar ul li a{
        font-size: 10px;
        padding: 8px;
    }
    .img-l{
        width: 15px;
        height: 15px;
    }
    #footer p{
        font-size: 10px;
    }
}