*{
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
#logo img{
    width: 250px;
    height: 50px;
}
#navbar ul{
    display: flex;
    flex-direction: row;
}
#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    color: black;
    text-decoration: none;
    padding: 25px;
    font-weight: bolder;
    font-size: 13px;
}
#navbar ul li a:hover, #navbar ul li a#active{
    color:rgb(25, 141, 102)
}