#post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img{
    height: 250px;
   width: 600px;
   border: 2px solid black;
   margin: 20px 20px;
}
.text{
    width: 600px;
    text-align: center;
    font-size: 13px;
    margin:20px 5px;
}