.img{
    width: 80%;
}
.text{
    font-size: 12px;
}

@media only screen and (max-width:600px){
    #navbar ul li a{
        font-size: 10px;
        padding: 8px;
    }
    .text{
        width: 80%;
        font-size: 10px;
    }
    
    .img-l{
        width: 15px;
        height: 15px;
    }
    #footer p{
        font-size: 10px;
    }
}